<div class="upload-card">
    <div class="dropzone" id="dropzoneFormupdate">
        <div class="fallback">
            <input name="file" type="file" multiple />
            <input type="submit" value="رفع الملفات" class="btn btn-primary" />
        </div>
    </div>
</div>
