@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "قفل الحساب";
}

<hgroup>
    <h1 class="text-danger">مقفل</h1>
    <h2 class="text-danger">هذا الحساب مقفل الرجاء المحاولة لاحقاً</h2>
</hgroup>
